framework: net461

source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
source https://dotnet.myget.org/F/cli-deps/api/v3/index.json
source https://www.nuget.org/api/v2/

nuget NUnit == 3.10.1
nuget Moq

nuget Microsoft.Net.Compilers 2.6.1
nuget Microsoft.CodeAnalysis 2.6.1
nuget Microsoft.Build 15.5.180
nuget Microsoft.Build.Framework 15.5.180
nuget Microsoft.Build.Tasks.Core 15.5.180

nuget System.ValueTuple 4.4.0

nuget DotNet.Glob
nuget YamlDotNet
nuget CommandLineParser
nuget NUnit.Console 3.8.0